@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
p,h2 {
    font-size: 21px;
    font-weight: 500;
    color: red;
    padding: 16px 15px;
    align-items: center;
    color:#000;
}
h2 {
    border-bottom: 1px solid #ccc;
    color:#000;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background-color: black; */
    background-size: 120%;
    color:#000;
    background-image: url("https://allimages.sgp1.digitaloceanspaces.com/photographercomvn/2021/01/Download-hinh-nen-may-tinh-Full-HD-do-phan-giai.jpg");
    background-repeat: no-repeat;
}
.wrapper {
    width: 400px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}
.temp, 
.hum {
    font-size: 3.0rem;
    margin: 0;
}
.units {font-size: 1.5rem;}
.dht-leables {
    font-size: 2rem;
    vertical-align: middle;
    padding-bottom: 15px;
}
.temp-hum {
    border-bottom: 1px solid #ccc;
}
.temp-hum,
.led-control {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btn {
    border: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    padding: 0px 30px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    line-height: 46px;
    font-weight: 400;
    font-size: 1em;
    outline: none;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    border-radius: 23px;
    letter-spacing: 2px;
    box-sizing: border-box;
}
.btn:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.btn:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #000000;
    content: "";
    border-radius: inherit;
    
}
.btn:hover {
    background-color: aqua;
    color: black;
}
.btn:hover::before {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 0.25;
      
}
.active{
    background-color: #fff;
    color: black;   
    background-color: aqua;
}
/* .off1:focus{
    background-color: #fff;
    color: black;   
    background-color: aqua;
}
.off:focus{
    background-color: #fff;
    color: black;   
    background-color: aqua;
} */